/**
 * E-mergo Buttons Styles
 *
 * @package E-mergo Tools Bundle
 */
.qs-emergo-buttons {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	overflow-y: auto;
	overflow-x: hidden;
	--qs-emergo-buttons-spacing-size: 10px;
	--button-horizontal-padding: 17px;
	--button-height: 30px;
	--button-min-width: 44px;
}

.qs-emergo-buttons.no-interaction {
	overflow-y: hidden;
	pointer-events: none;
}

.qs-emergo-buttons .qs-emergo-buttongroup {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

.qs-emergo-buttons.horizontal.full-width .qs-emergo-buttongroup {
	display: flex;
	flex-flow: row wrap;
}

.qs-emergo-buttons.vertical .qs-emergo-buttongroup {
	display: flex;
	flex-flow: column nowrap;
}

.qs-emergo-buttons.vertical.align-left .qs-emergo-buttongroup {
	align-items: flex-start;
}

.qs-emergo-buttons.vertical.align-center .qs-emergo-buttongroup {
	align-items: center;
}

.qs-emergo-buttons.vertical.align-right .qs-emergo-buttongroup {
	align-items: flex-end;
}

.qs-emergo-buttons.full-width .qs-emergo-buttongroup,
.qs-emergo-buttons.vertical.full-width .qs-emergo-buttongroup .lui-button {
	width: 100%;
}

.qs-emergo-buttons .qs-emergo-buttongroup .lui-button {
	margin: 0px;
	padding: 0px;
	height: var(--button-height);
	min-width: var(--button-min-width);
}

.qs-emergo-buttons.horizontal.nospacing .qs-emergo-buttongroup .lui-button:not(:last-child) {
	margin-right: -1px;
}

.qs-emergo-buttons .qs-emergo-buttongroup .lui-button .title-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.qs-emergo-buttons .qs-emergo-buttongroup .lui-button .title-wrapper .title {
	flex: 1 1 auto;
	padding: 0px var(--button-horizontal-padding);
}

.qs-emergo-buttons .qs-emergo-buttongroup .lui-button .lui-icon {
	font-size: 12px;
}

.qs-emergo-buttons .qs-emergo-buttongroup .lui-button .lui-icon.lui-icon-start {
	margin-right: 2px;
}

.qs-emergo-buttons .qs-emergo-buttongroup .lui-button .lui-icon.lui-icon-between {
	margin: 0px 2px;
}

.qs-emergo-buttons .qs-emergo-buttongroup .lui-button .lui-icon.lui-icon-end {
	margin-left: 2px;
}

.qs-emergo-buttons.horizontal.full-width .qs-emergo-buttongroup .lui-button {
	flex: 1 auto;
}

.qs-emergo-buttons.spacing .qs-emergo-buttongroup {
	display: flex;
	flex-wrap: wrap;
	grid-gap: var(--qs-emergo-buttons-spacing-size);
}

.qs-emergo-buttons.vertical .qs-emergo-buttongroup .lui-button {
	display: block;
}

.qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom,
.qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom-inverse {
	border: 0;
	padding: 1px 0.8px;
	box-shadow: inset 0 -2px rgba(0,0,0,.1);
	transition: box-shadow .2s ease-out;
}

.qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom-inverse {
	color: #fff;
}

.qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom.lui-focused, .qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom:focus,
.qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom-inverse.lui-focused, .qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom-inverse:focus {
	padding: 1px 0px;
	border: 1px solid rgba(63,138,179);
	box-shadow: 0 0 1px 1px rgba(63,138,179,.7);
}

.qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom.lui-active, .qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom:active,
.qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom-inverse.lui-active, .qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom-inverse:active {
	border: 1px solid transparent;
	padding: 1px 0px;
	color: #fff;
	background-color: rgba(0,0,0,.65) !important;
	box-shadow: 0 1px 0 hsla(0,0%,100%,.25);
}

.qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom.lui-hovered, .qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom:hover,
.qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom-inverse.lui-hovered, .qs-emergo-buttons .qs-emergo-buttongroup .lui-button--custom-inverse:hover {
	box-shadow: inset 0 -2px rgba(0,0,0,.1), inset 0 0 0 250px hsla(0,0%,100%,.2);
}

/*.qv-object-emergo-buttons .*/